body {
    margin: 1%;
    background: #fff;
    font-family: 'Serif', Georgia;
}

#contenedor-cuerpo{
    top: 70px;
    position: relative;
    margin: 20px 10px 20px 0px;
}

form{
    min-height: 20px;
    min-width: 100%;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #fafafa;
    border-radius: 4px;
    border: 1px solid #e7e7e7;
    box-shadow: inset 0 2px 0 rgba(0,0,0,.05);
}

fieldset{
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    min-width: -webkit-min-content;
}

legend{
    width: 100%;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    border-bottom: 1px solid #e5e5e5;
}

.div-agrupador{
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.label-responsive-dos{
    color: black;
}

input[type=submit]{
    /* display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px; */
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e7e7e7;
    text-align: center;
    z-index: 999;
}

#WindowLoad{
    position:fixed;
    top:0px;
    left:0px;
    z-index:3200;
    filter:alpha(opacity=65);
    -moz-opacity:65;
    opacity:0.65;
    background:#fff;
}